@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
}

.app {
  /* animation: colorChange 20s alternate infinite; */
  background: linear-gradient(
    150deg,
    rgba(126, 93, 242, 1) 0%,
    rgba(88, 102, 246, 1) 35%,
    rgba(68, 125, 248, 1) 100%
  );
  /* background: #00aeb0; */
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
    /* background: linear-gradient(
      90deg,
      rgba(126, 93, 242, 1) 0%,
      rgba(88, 102, 246, 1) 35%,
      rgba(68, 125, 248, 1) 100%
    ); */
  }
  to {
    filter: hue-rotate(360deg);
    /* background: linear-gradient(
      90deg,
      rgba(88, 179, 216, 1) 0%,
      rgba(66, 156, 231, 1) 35%,
      rgba(61, 134, 247, 1) 100%
    ); */
  }
}
